<div class="modal fade" id="auditionModal" tabindex="-1" aria-labelledby="auditionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="auditionModalLabel"><%= @audition.first_name %> <%= @audition.last_name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> Artist Name: <%= @audition.artist_name %></p>
        <p> Song Links:
        <% @audition.songs.each_with_index do |song,index| %>
          <a href="<%= song.link %>"><%= "link-#{index+1}"%></a>
          <br>
        <% end %>
        </p>
        <p> Email: <%= @audition.email %></p>
        <p> Genre: <%= @audition.genre %></p>
        <p> Additional Info: <%= @audition.additional_info.html_safe if @audition.additional_info.present? %></p>
        <%= select_tag 'audition[status]', options_for_select(Audition.statuses.keys), prompt: "Change Status", id: "change-status", class:"status-dropdown", data: { remote: true, url: audition_path(@audition), method: :patch } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
