<div class="container-fluid w-25 border rounded shadow mt-5 p-4 text-center">
<div>
  <h1> Audition: <%= @audition.id%> </h1> 
  <p>
  <h5>First Name:</h5><%= @audition.first_name %> <br>
  <h5>Last Name:</h5><%= @audition.last_name %> 
  <br> <br>
  <h5>Email:</h5><%= @audition.email %>
  <h5>Artist Name:</h5><%= @audition.artist_name %> 
  <h5>Genre:</h5><%= @audition.genre %> 
  <h5>Hear About Us:</h5><%= @audition.about_us %> 
  </p>
  </div>
</div>
