<div class="container-fluid w-25 border rounded shadow mt-5 p-4 text-center" >
  <h1>HOME PAGE</h1>
  <br>
  <% if user_signed_in? %>
    <%= current_user.email %>
    <% if current_user.is_a?(Artist)%>
      <%= link_to 'New', new_audition_path %>
    <%else%>
      <%= link_to 'listing', auditions_path %> 
    <%end%>
    <p> you are a <%= current_user.type %></p>
    <br> <br>
    <%= link_to 'Sign out', destroy_user_session_path ,method: :delete%>
  <%else%>
    <div>
      <div>
        <%= link_to 'Login', new_user_session_path %>
      </div>
    </div>
    <%= link_to 'SignUp', new_user_registration_path %>
  <% end %>
</div>
