<!DOCTYPE html>
<html>
  <head>
    <title>Audiosocket</title>
    <link rel="shortcut icon" href="pic.ico">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "header/header" %>

    <% if notice.present? %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="container">
      <div>
        <%= yield %>
      </div>
    </div>
    <%= render "header/footer" %>
  </body>
</html>
